<header-component></header-component>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6" style="min-height: 50%; min-width: 57%; border: 3px solid black;border-radius: 10px; margin: 80px 20px 80px 20px; background-color: lightgrey">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 20px; margin-bottom: 20px">
                <form name="userForm" ng-show="!mensaje">
                    <h1><i class="fas fa-file-invoice-dollar"></i>   Crear Noticia</h1>
                    <hr>
                    <div class="form-group">
                        <h5>ID</h5>
                        <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="ajaxDatoBlog.id" />
                    </div>
                    <div class="form-group">
                        <h5>Título</h5>
                        <input type="text" class="form-control" id="id" name="id" ng-model="ajaxDatoBlog.titulo" ng-required="true" />
                    </div>
                    <div class="form-group">
                        <h5>Contenido</h5>
                        <input type="text" class="form-control" id="id" name="id" ng-model="ajaxDatoBlog.contenido" ng-required="true" />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.fecha.$invalid && !userForm.fecha.$pristine }">
                        <div class="row">
                            <div class="col-6">
                        <h5>Fecha</h5>
                        <div style="background-color: #A5BEDE; border-radius: 10px; width: 74%">
                                <md-datepicker ng-model="dt" md-placeholder="Fecha" ng-readonly="true"></md-datepicker></textarea>
                            </div>
                            </div>
                            <div class="col-6">
                                <h5>Etiquetas</h5>
                        <input type="text" class="form-control" id="etiquetas" name="etiquetas" ng-model="ajaxDatoBlog.etiquetas" />
                            </div>
                        </div>
                    </div>
                    <usuario-selection class="modal fade " id="cadd-location-modal" obj="ajaxDatoBlog.obj_Usuario"></usuario-selection>

                    <div class="form-group">
                        <h5>Usuario</h5>
                        <span class="input-group-text fas fa-search"

                              data-toggle="modal"
                              data-target="#cadd-location-modal"></span>
                        <div class="row">
                                <div class="col-2">
                                    <input type="text" class="form-control" id="obj_tipoUsuario_desc" name="obj_tipoUsuario_desc" ng-model="ajaxDatoBlog.obj_Usuario.id"ng-change="usuarioRefresh()"/>
                                </div>
                                <div class="col-10">
                                    <input type="text" class="form-control" ng-model="ajaxDatoBlog.obj_Usuario.nombre"  placeholder="Seleccione un usuario"/>
                                </div>
                            </div>
                    </div>
                    
                </form>
                <a href="javascript:window.history.back();"> <button class="btn btn-danger">Volver</button> </a>
                <button ng-click="guardar()" ng-show="!mensaje" type="button" class="btn btn-success" ng-disabled="userForm.$invalid">Guardar</button>
                <div class="alert alert-success" ng-model="resultado" ng-show="mensaje">
                    Datos actualizados correctamente.
                </div>
                <div class="alert alert-danger" ng-show="mensajeError">
                    Datos erroneos.
                </div>
            </main>
        </div>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>