<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Seleccionar un producto</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group" style="width:400px;">
                        <p class="mt-2" style="width:200px;">Selecciona RPP: </p>
                        <select class="form-control"
                                ng-change="c.update(1)"
                                ng-model="c.rpp">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <tr>
                        <th>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        ID
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('id', 'asc')">
                                            <i class="fas fa-long-arrow-alt-up"></i>
                                        </button>
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('id', 'desc')">
                                            <i class="fas fa-long-arrow-alt-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Código
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('codigo', 'asc')">
                                            <i class="fas fa-long-arrow-alt-up"></i>
                                        </button>
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('codigo', 'desc')">
                                            <i class="fas fa-long-arrow-alt-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Descripción
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('desc', 'asc')">
                                            <a class="fas fa-long-arrow-alt-up"></a>
                                        </button>
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('desc', 'desc')">
                                            <i class="fas fa-long-arrow-alt-down"></i>
                                        </button>
                                    </div>
                                </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Existencias
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('existencias', 'asc')">
                                            <i class="fas fa-long-arrow-alt-up"></i>
                                        </button>
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('existencias', 'desc')">
                                            <i class="fas fa-long-arrow-alt-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Precio
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('precio', 'asc')">
                                            <i class="fas fa-long-arrow-alt-up"></i>
                                        </button>
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('precio', 'desc')">
                                            <i class="fas fa-long-arrow-alt-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Foto
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('foto', 'asc')">
                                            <i class="fas fa-long-arrow-alt-up"></i>
                                        </button>
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('foto', 'desc')">
                                            <i class="fas fa-long-arrow-alt-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Tipo producto
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('id_tipoProducto', 'asc')">
                                            <i class="fas fa-long-arrow-alt-up"></i>
                                        </button>
                                        <button type="button" class="btn btn-light" ng-click="c.ordena('id_tipoProducto', 'desc')">
                                            <i class="fas fa-long-arrow-alt-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th>
                            Selección
                        </th>
                    </tr>
                    <tr ng-repeat="fila in c.data">
                        <td>{{fila.id}}</td>
                        <td>{{fila.codigo}}</td>
                        <td>{{fila.desc}}</td>
                        <td>{{fila.existencias}}</td>
                        <td>{{fila.precio}}</td>
                        <td>{{fila.foto}}</td>
                        <td>
                            <a href="tipoproducto/view/{{fila.obj_tipoProducto.id}}">{{fila.obj_tipoProducto.desc}}</a>
                        </td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <a class="btn btn-default btn-xs" ng-click="c.save(fila.id, fila.desc)" data-dismiss="modal">
                                        <i class="fa fa-reply" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <nav aria-label="paginacion">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" ng-show="c.page > 2" ng-click="c.update(1)">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="c.page > 1" ng-click="c.update(c.page - 1)">Previous</a>
                        </li>
                        <li class="page-item" ng-class="{'active':(p == c.page), 'disabled': (p == '...')}" ng-repeat="p in c.list2 track by $index" >
                            <a class="page-link"  ng-click="c.update(p)">{{p}}</a>
                        </li>
                        <li class="page-item" ng-show="c.page != c.totalPages" >
                            <a class="page-link" ng-click="c.update(c.page--1)" >Next</a>
                        </li>
                         <li class="page-item">
                            <a class="page-link" ng-show="c.page != c.totalPages - 1 && c.page != c.totalPages" ng-click="c.update(c.totalPages)">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="c.resetOrder()">Reset</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>            
        </div>
    </div>
</div>