.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));     
    grid-auto-rows: 500px;
    grid-gap: 20px 3%;
    padding: 10px;    
    justify-content: center;    
}

.grid-containerb {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(700px,1400px));     
    grid-auto-rows: 400px;
    grid-gap: 20px 3%;
    padding: 10px;    
    justify-content: left;    
}

.grid-item {    
    text-align: center;
    border: 2.5px solid black;
    background-color: #A5BEDE;
    display: grid;
    grid-template-rows: 230px auto auto; 
    border-radius: 8px;

}

.grid-item:hover {
    transform: scale(1.1);
    box-shadow: 11px 11px 17px #999;
}

#botones{
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px;
}

@keyframes c {
    from{
        background-color: lightgray;
    }
    to{
        background-color: limegreen;
    }
}

.grid-contenido {
    align-items: center;

}
.grid-contenidob {
    margin-left: 15px;
    align-items: left;

}
