<header-component></header-component>
<main  role="main" class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="margin-top:70px; margin-bottom: 80px; border: 3px solid #253034; border-radius: 10px; background-color: #B5BEC6">
            <form name="userForm" style="margin-bottom: 5px;" ng-show="!mensaje">
                <h3 style="text-align: center">Registro de Usuario</h3>
                <div class="form-group">
                    <h5><i class="fas fa-user"></i>  Usuario <b style="color: red">*</b>   <span style="font-size: 15px">(3-25 caracteres)</span></h5>  
                    <input type="text" class="form-control" id="login" name="login" ng-pattern="userFormat" ng-model="ajaxDatoRegistroUsuario.login" ng-required="true" />
                    <div ng-show="!userForm.login.$valid && !userForm.login.$pristine" class="alert alert-danger" role="alert">
                        Formato de usuario no válido
                    </div>
                </div>
                <div class="form-group">
                    <h5><i class="fas fa-unlock"></i>  Contraseña <b style="color: red">*</b></h5>
                    <input type="password" class="form-control" id="pass" name="pass" ng-pattern="passFormat" ng-model="ajaxDatoRegistroUsuario.pass" ng-required="true" />
                    <div ng-show="!userForm.pass.$valid && !userForm.pass.$pristine" class="alert alert-danger" role="alert">
                        Formato de contraseña no válido
                        <br> 
                        Obligado utilizar:<br>
                        - Minímo 7 caracteres.<br>
                        - Letras en mayúscula<br>
                        - Letras en minúscula<br>
                        - Números
                    </div>
                </div>
                <div class="form-group">
                    <h5><i class="fas fa-user"></i>  Nombre <b style="color: red">*</b></h5>
                    <input type="text" class="form-control" id="nombre" name="nombre" ng-model="ajaxDatoRegistroUsuario.nombre" ng-required="true"/>
                    <div ng-show="userForm.nombre.$error.pattern" class="alert alert-danger" role="alert">
                        Formato no válido
                    </div>
                </div>
                <div class="form-group">
                    <h5><i class="fas fa-user"></i>   Primer Apellido <b style="color: red">*</b></h5>
                    <input type="text" class="form-control" id="ape1" name="ape1" ng-model="ajaxDatoRegistroUsuario.ape1" ng-required="true"/>
                    <div ng-show="userForm.ape1.$error.pattern" class="alert alert-danger" role="alert">
                        Formato no válido
                    </div>
                </div>
                <div class="form-group">
                    <h5><i class="fas fa-user"></i>   Segundo Apellido <b style="color: red">*</b></h5>
                    <input type="text" class="form-control" id="ape2" name="ape2" ng-model="ajaxDatoRegistroUsuario.ape2" ng-required="true"/>
                    <div ng-show="userForm.ape2.$error.pattern" class="alert alert-danger" role="alert">
                        Formato no valido
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.dni.$invalid && !userForm.dni.$pristine }">
                    <h5><i class="fas fa-user"></i>  DNI <b style="color: red">*</b></h5>
                    <input type="text" class="form-control" id="dni" name="dni" ng-model="ajaxDatoRegistroUsuario.dni" ng-required="true" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/"
                           />
                    <div ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                        Formato dni no valido
                    </div>
                </div>
                <div class="form-group">
                    <h5><i class="fas fa-envelope"></i>   E-mail <b style="color: red">*</b></h5>
                    <input type="text" class="form-control" id="email" name="email" ng-model="ajaxDatoRegistroUsuario.email" ng-required="true" ng-pattern="emailFormat"
                           />
                    <div ng-show="userForm.email.$error.pattern" class="alert alert-danger" role="alert">
                        Formato e-mail no valido
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="alert alert-danger" ng-show="mensajeError">
                            {{mensajeDelServidor}}
                        </div>
                    </div>
                    <div class="col-5">
                        <button id="enviar" ng-click="guardar()" ng-show="!mensaje" type="button" class="btn btn-primary btn-lg" ng-disabled="userForm.$invalid" style="right:inherit"><b>Enviar</b></button>
                        <a href="/"> <button class="btn btn-warning btn-lg"><b style="color: white">Volver</b></button> </a>
                    </div>
                </div>
            </form>
            <div class="alert alert-success" ng-show="mensaje">
                {{mensajeDelServidor}}
                <a href="/"> <button class="btn btn-warning btn-xs"><b style="color: white">Volver</b></button> </a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</main>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>
